// main: style.scss

.page-header {
  min-height: 56px;
}

/*======================================
 System Grid
=======================================*/

.gl0, .gl1, .gl2, .gl3 {
  position: relative;
}

.gl0:before, .gl1:before, .gl2:before, .gl3:before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  height: 20px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

.gl0 {
  border: 2px solid blue;
  background: rgba(0, 0, 255, .1);
}

.gl0:before {
  color: #fff;
  background: rgba(0, 0, 255, .9);
}

.gl1 {
  border: 2px solid green;
  background: rgba(0, 128, 0, .1);
}

.gl1:before {
  color: #fff;
  background: rgba(0, 128, 0, .9);
}

.gl2 {
  border: 2px solid rgb(255, 45, 82);
  background: rgba(255, 45, 82, .1);
}

.gl2:before {
  color: #fff;
  background: rgba(255, 45, 82, .9);
}

.gl3 {
  border: 2px solid rgb(234, 255, 45);
  background: rgba(234, 255, 45, .1);
}

.gl3:before {
  color: #000;
  background: rgba(234, 255, 45, .8);
}

.wrapper {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper:before {
  content: '.wrapper';
}

.page-header:before {
  content: '.page-header';
  left: 72px;
}

.page-header *:before {
  top: auto;
  bottom: -25px;
}

.page-main:before {
  content: '.page-main';
}

.page-footer:before {
  content: '.page-footer';
}

.page-footer *:before {
  top: auto;
  bottom: -25px;
}

.slogan:before {
  content: '.slogan';
  top: 22px;
}

.slogan *:before {
  top: auto;
  bottom: -25px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
}

.slogan {
  min-height: 512px;
}

.big-heading:before {
  content: '.big-heading';
}

.big-heading {
  min-height: 212px;
  text-align: center;
}

.promo-blocks:before {
  content: '.promo-blocks';
}

.promo-blocks {
  min-height: 212px;
  text-align: center;
}

.search:before {
  content: '.search';
}

.search {
  min-height: 707px;
  text-align: center;
}

.hashtag:before {
  content: '.hashtag';
}

.hashtag {
  min-height: 212px;
  text-align: center;
}

.social:before {
  content: '.social';
}

.social {
  min-height: 212px;
  text-align: center;
}

.copyright:before {
  content: '.copyright';
}

.copyright {
  min-height: 212px;
  text-align: center;
}

.container:before {
  content: '.container';
}

.main-navigation:before {
  content: '.main-navigation';
  left: auto;
  right: -2px;
}

.user-block:before {
  content: '.user-block';
}

.main-footer:before {
  content: '.main-footer';
}

.features-row:before {
  content: '.features-row';
  top: -25px;
}

.features-item:before {
  content: '.features-item';
}

.index-content:before {
  left: auto;
  right: 0;
  content: '.index-content';
}

.content-column-left:before {
  content: '.content-column-left';
}

.content-column-right:before {
  content: '.content-column-right';
}

.main-footer .container:before {
  top: -24px;
}

.footer-contacts:before {
  content: '.footer-contacts';
}

.footer-social:before {
  content: '.footer-social';
}

.footer-copyright:before {
  content: '.footer-copyright';
}

figure{
    margin: 0;
}

figure img{
    width: 100%;
}
